body {
    background-color: #000000;
    color: #f6f6f6;
    margin: 0;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

strong {
    color: #22D4FD;
}
h1 {
font-size: 36px ;
line-height: 56px;
font-weight: 400;
font-family:"Krona One", sans-serif;
margin-right: 40%;
}

p {
    margin-top:0px;
    margin-right: 40%;
}
img {
    
    max-width: 95%;
    margin-left: 50%;
    margin-top: -75%;
    border-radius: 100px;

}
a {
    display: inline-block;
    margin: 20px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.5s ease-in-out;
    margin-right: 40%;
}
a.instagram {
    background-color: #22D4FD ;
    color: #000000;
    padding: 20px 25px;
}
a.github {
    background-color: #22D4FD;
    color: #000000ef;
    padding: 20px 37px;
    
   
    
}
figcaption {
    margin-left: 90%;
}
footer {
    text-align: center; 
    color: #22D4FD;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: -10%;
    margin-right: 40%;
    font-size: 20px;
    

}